<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Drinks-shop</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="application/javascript" rel="script" src="/static/js/jQuery-v3.4.1.min.js"></script>
    <script type="application/javascript" rel="script" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" rel="script" src="/static/js/index.js"></script>

</head>
<body>
<div class="nav-top">
    <div class="logo"><a href="">欢迎来到-Drinks-shop</a></div>
    <div class="nav">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;">菜品</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a data-href="/drink">饮品</a></dd>
                    <dd class="layui-this"><a data-href="/seasoning">调料</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <!--<iframe id="iframe" frameborder="0" src="/process"></iframe>-->
</div>


<script type="application/javascript" rel="script" src="/static/layui/layui.js"></script>
<script type="application/javascript" rel="script" src="/static/js/index.js"></script>
<script type="application/javascript" rel="script" src="/static/js/jQuery-v3.4.1.min.js"></script>
<script type="application/javascript" rel="script" src="/static/layer/layer.js"></script>

</body>
</html>